body{
    background-color: rgb(226, 196, 214);
}
header h2{
    text-align: center;
    /* padding: 20px; */
    font-style: inherit;
    font-size: 40px;
}
form{
    background-color: rgb(187, 247, 227);
    padding: 9px;
    display: flex;
    flex-direction: column;
    width: 25%;
}
label
{
    text-align: left;
    margin: 10px 0 5px;
    font-size: 23px;
    font-style:inherit;
}
input{
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-bottom: 15px;
}
button{
    background-color: teal;
    font-size: 15px;
    border: none;
    padding: 6px;
    border-radius: 33px;
    cursor: pointer;
}
a{
    font-size: 20px;
    padding: 5px;
    color: black;
    text-decoration: none;
}
